html {
  font-size: 16px;
}

body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.container {
  max-width: 1200px;
  max-width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

h1,
h2,
h3 {
  color: black;
  text-transform: uppercase;
  font-weight: 700;
}

h1 {
  font-size: 1.875em;
}

h2 {
  font-size: 1.125em;
}

h3 {
  font-size: 0.75em;
}

p {
  font-size: 0.875em;
  line-height: 1.313em;
}

/*The widths are in a percentage!*/
header {
  width: 95%;
  line-height: 4em;
  height: auto;
  border-bottom: 3px solid #77a466;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

header h1 {
  width: 100%;
  text-align: center;
}

header h1 span {
  color: #77a466;
}

header nav {
  width: 100%;
  flex: 1;
  border-top: 3px solid #77a466;
}

header nav ul {
  width: 100% line-height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding: 0;
}

header nav ul li {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875em;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: #77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.main-image {
  height: auto;
}

.main-image img {
  width: 100%;
  border-bottom: 3px solid #77a466;
}

.main-title {
  height: auto;
}

.main-title h2 {
  color: #77a466;
}

.main-title p {
  padding: 0;
  font-size: 1em;
  line-height: 1.5625em;
}

.section-one,
.section-two,
.section-three {
  width: 100%;
  height: auto;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column wrap;
}

/* .section-one h3 {

}

.section-two {

}

.section-two h3,
.section-three h3 {

}
*/

.menu {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column wrap;
  padding: 0;
}

.menu li {
  color: #77a466;
  flex-grow: 1;
  line-height: 2em;
}

.reviews {
  color: #333;
  font-size: 1em;
  line-height: 1.3125em;
}

.address {
  font-size: 1em;
  line-height: 1.5em;
}

/*The widths are in a percentage!*/
footer {
  width: 100% height: 3.125em;
  border-top: 0.188em solid #eee;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  flex-grow: 1;
}

footer span {
  font-family: 'Galada', cursive;
  text-transform: lowercase;
  color: #77a466;
  font-size: 0.875em;
}
